.distributors > .ant-btn{
    width: 42px !important;
    transform: translateX(-50%) !important;
}

.ant-col {
}

.sales-scroll{
    overflow: auto !important;
}

.distributor-role{
    padding: 5px !important;
}


.sale-card{
    border: 1px solid rgb(42, 4, 234) !important;
}